HEALTH_PORT=7777
METRICS_PORT=7777
HEALTH_ENDPOINT=/health
CONFIGS_PATH=.env/config.example.json
LOGGER_LEVEL=debug
BATCH_SIZE=1000
STANDBY_TIMEOUT=10s
NATS_ADDRESS=127.0.0.1:4222
NATS_USER=replicator
NATS_PASSWORD=nats_password
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=tempo_payments
DATABASE_USER=postgres
DATABASE_PASS=postgres
DATABASE_SCHEMA=public
